<style> 
    body{
        background-color: #FEF5E7;
    }

    .orange-text{
        color:#F39C12
    }

    h{
        font-size:56px;
        font-family:Trebuchet MS;
    }

    h1{
        font-size:30px;
        font-family:Trebuchet MS;
    }

    h2{
        font-size:22px;
        font-family:Trebuchet MS;
    }

    h3{
        font-size:22px;
        font-family:Trebuchet MS;
    }
    
    form{ 
        font-size:16px;
        font-family:Trebuchet MS;
    }

    button{
        font-size: 16px;
        font-family:Trebuchet MS;
    }

    p{
        font-size:22px;
        font-family:Trebuchet MS;
    }
    
    .de-la-semana-text{
        font-family:Trebuchet MS;
        text-align:center;
        font-size:26px;
    }

    .space-btwn-text{
        margin-top:50px;
        margin-bottom:50px
    }

</style> 